[submodule "lib/flgl"]
	path = lib/flgl
	url = https://github.com/collebrusco/flgl
[submodule "lib/sw"]
	path = lib/sw
	url = https://github.com/collebrusco/stopwatch
[submodule "lib/ecs"]
	path = lib/ecs
	url = https://github.com/collebrusco/entity-mini
